{% extends 'Message:Mothership:ControlPanel::_templates/left_sidebar' %}

{% block sidebar %}
	{{ render(controller('::Controller:Report:Sidebar#index', {'selected':'test'}))}}
{% endblock %}

{% block main %}
	<hgroup class="title">
		<h1>{{ report.getDescription() }}</h1>
	</hgroup>

	<div class="container-content">
		{% block report %}
			{% block reportHeader %}{% endblock %}
			<table>
				<thead>
					{% block reportTableHead %}
						<tr>
							{% for column, label in report.getColumns() %}
								<th>{{ label }}</th>
							{% endfor %}
						</tr>
					{% endblock %}
				</thead>
				<tbody>
					{% block reportTableBody %}{% endblock %}
				</tbody>
			</table>
		{% endblock %}
	</div>
{% endblock %}