{% block form %}
	<div class="content">
		{{ form_start(form) }}
			{{ form_row(form.date) }}
			<button type="submit" class="button small filter">Submit</button>
		{{ form_end(form) }}
	</div>
{% endblock %}
