{% extends 'Message:Mothership:ControlPanel::_templates/cp' %}

{% block sidebar %}
	{{ render(controller('Message:Mothership:Commerce::Controller:Product:Sidebar#index', {'productID':product.id}))}}
{% endblock %}

{% block content %}
	<div class="dashboard">
		<div class="modules">
			{{ report.name }}
	
			{% for chart in report.charts %}
			    {% include chart.view with {'data' : chart.data} only %}
			{% endfor %}
		</div>
	</div>
{% endblock %}