{% extends 'Message:Mothership:ControlPanel::_templates/cp' %}

{% block sidebar %}
	{{ render(controller('Message:Mothership:Commerce::Controller:Product:Sidebar#index', {'productID':product.id}))}}
{% endblock %}

{% block content %}
	<div class="dashboard">
		<div class="modules">
		{% if form %}
			{{ form_start(form) }}
				<button class="button save small">Go</button>
			{{ form_end(form) }}
		{% endif %}
			{{ report.displayName }}

			{% for chart in report.charts %}
			    {% include chart.view with {'data' : chart.data, 'columns' : chart.columns} only %}
			{% endfor %}
		</div>
	</div>
{% endblock %}