{% extends 'Message:Mothership:ControlPanel::_templates/cp' %}


{% block content %}
	<section class="main-full">
		<hgroup class="title">
			<h1>{{ report.displayName }}</h1>
			<button class="button small download">Download CSV</button>
		</hgroup>

		<div class="container-content reports">

				{% for chart in report.charts %}
				    {% include chart.view with {'data' : chart.data, 'columns' : chart.columns} only %}
				{% endfor %}
		</div>
	</section>	

	{% if form %}
		<section class="reports-filtering">
			<hgroup class="title">
				<h1>Filters</h1>
			</hgroup>

			<div class="container-content short">
				{{ form_start(form) }}
					{{ form_rest(form) }}
					<button class="button save small">Go</button>
				{{ form_end(form) }}
			</div>
			<span class="button icon slide-hide caret-left"></span>	
		</section>	
		{% endif %}
{% endblock %}