<table>
{% for row in data %}
	{% set firstRow = loop.first %}
	<tr>
    {% for cell in row %}
	{% if firstRow %} <th> {% else %} <td> {% endif %}
		{{ cell }}
	{% if firstRow %} </th> {% else %} </td> {% endif %}
    {% endfor %}
	</tr>
{% endfor %}
</table>