<html>
  <head>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">

      google.load("visualization", "1", {packages:["table"]});
      google.setOnLoadCallback(drawTable);

      function drawTable() {

        var chart = new google.visualization.DataTable();
        var columns = {{ columns|raw }}

        for (i = 0; i < columns.length; i++) {
          chart.addColumn(columns[i].type, columns[i].name);
        }

        chart.addRows( {{ data|raw }} );

        var table = new google.visualization.Table(document.getElementById('table_div'));

        table.draw(chart, {allowHtml: true} );

      }

    </script>
  </head>
  <body>
    <div id="table_div"></div>
  </body>
</html>